.backgroundDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg);
    background-position: center;
    background-size: cover;
    /* position: relative; */
   
}
.cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
}
.image{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 5px;
    height: auto;
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
   
    
}
.gtpicbtn{
    
    font-size: larger;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    color: aliceblue;
    /* padding: 20px; */
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
    background-color:var(--pallete-2);
    transition: 0.3s;
    border-radius: 5px;
    
}
.gtpicbtn:active{
    
    transform: translateY(5px);
}
.btncont{
    /* padding: 10px; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--pallete-1);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.desc{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 97%;
    /* margin-bottom: 100vh; */
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.finecont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 60%;
    width: 20%;
    border-radius: 5px;
    background-color: var(--pallete-1);
    padding: 20px;
    border: 1px solid black;
    padding-top: 0px;
}
.finecont button{
    font-size: large;
}
.finecont fieldset p{
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    margin: 0px;
}
.finecont fieldset{
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.fntip{
    width: 30%;
}
.clrip{
    width: 33%;
    border: none;
}
.high {
    animation: high 1s ease-in-out infinite;
}
@keyframes high{
    0%{transform:  scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}